URxvt.foreground: white
URxvt.background: black
URxvt.secondaryScroll: true
URxvt.font:     xft:bitstream vera sans mono:size=10:antialias=true
URxvt.perl-ext-common: mark-urls,tabbedex
URxvt.urlLauncher: firefoxURxvt.tabbed.saveLines: 1000
URxvt.tabbed.scrollBar: false
URxvt.tabbed.secondaryScroll: true
URxvt.tabbed.urlLauncher: firefox
URxvt.tabbed.no-tabbedex-keys: true
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab
urxvt*scrollBar:         false
urxvt*cursorBlink:        true
URxvt.termName: rxvt-unicode-256color
URxvt.inputMethod: fcitx
URxvt.preeditType: OverTheSpot

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
