#entry:selected {
  background-color: #000000;
  color: #EF453E;
}

#input {
  border: none;
  border-radius: 0px;
  background-color: #000000;
}

#text {
  margin-left: 1em;
  color: #EF453E;
}

window {
  opacity: 1.0;
  border: 2px solid #000000;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0px;
}
